h1 {
  text-align: center;
}

.event-form {
  display: flex;
  flex-direction: column;
  max-width: min-content;
  margin: auto;
}

.event-form label {
  margin-top: 1rem;
}

.event-form button {
  height: 2rem;
  width: 100px;
  margin: 1rem auto;
}

.display-data {
  text-align: center;
}

ul{
  list-style-type: none;
}